HMA1 Class
==========

In this guide we will go through a series of steps that will let you
discover functionalities of the `HMA1` class.

What is HMA1?
-------------

The `sdv.relational.HMA1` class implements what is called a
*Hierarchical Modeling Algorithm* which is an algorithm that allows to
recursively walk through a relational dataset and apply tabular models
across all the tables in a way that lets the models learn how all the
fields from all the tables are related.

Let's now discover how to use the `HMA1` class.

Quick Usage
-----------

We will start by loading and exploring one of our demo datasets.

In [2]:
from sdv.demo import sample_relational_demo

metadata, tables = sample_relational_demo(size=30)

C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:224: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sessions = sessions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\demo.py:253: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  transactions = transactions.append(pd.DataFrame({

This will return two objects:

1.  A `Metadata` object with all the information that **SDV** needs to
    know about the dataset.

In [2]:
metadata

Metadata
  root_path: .
  tables: ['users', 'sessions', 'transactions']
  relationships:
    sessions.user_id -> users.user_id
    transactions.session_id -> sessions.session_id

In [4]:
metadata.to_json("metadata.json")

In [6]:
for t in tables:
    print(type(t))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
metadata.visualize()

For more details about how to build the `Metadata` for your own dataset,
please refer to the [relational_metadata](relational_metadata.ipynb)
Guide.

2.  A dictionary containing three `pandas.DataFrames` with the tables
    described in the metadata object.

In [4]:
from sdv.utils import display_tables

display_tables(tables)

In [5]:
for name, table in tables.items():
    print(name, table.shape)

users (30, 4)
sessions (51, 5)
transactions (293, 5)

Let us now use the `HMA1` class to learn this data to be ready to sample
synthetic data about new users. In order to do this you will need to:

-   Import the `sdv.relational.HMA1` class and create an instance of it
    passing the `metadata` that we just loaded.
-   Call its `fit` method passing the `tables` dict.

In [6]:
from sdv.relational import HMA1

model = HMA1(metadata)
model.fit(tables)

C:\Users\Elvin\Desktop\GitHub\SDV\sdv\metadata\dataset.py:451: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  table_data[column].dropna().astype(dtype)
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\hma.py:255: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  table.reset_index(inplace=True)

<div class="alert alert-info">

**Note**

During the previous steps SDV walked through all the tables in the
dataset following the relationships specified by the metadata, learned
each table using a [gaussian_copula](gaussian_copula.ipynb) and
then augmented the parent tables using the copula parameters before
learning them. By doing this, each copula model was able to learn how
the child table rows were related to their parent tables.

</div>

### Generate synthetic data from the model

Once the training process has finished you are ready to generate new
synthetic data by calling the `sample` method from your model.

In [7]:
new_data = model.sample()

C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\base.py:127: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  primary_key_values = pd.Series([x for i, x in zip(range(num_rows), generator)])
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\base.py:127: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  primary_key_values = pd.Series([x for i, x in zip(range(num_rows), generator)])
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\base.py:127: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  primary_key_values = pd.Series([x for i, x in zip(range(num_rows), generator)])
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\base.py:127: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  primary_key_values = pd.Series([x for i, x in zip(range(num_rows), generator)])
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\base.py:127: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  primary_key_values = pd.Series([x for i, x in zip(range(num_rows), generator)])
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\base.py:127: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  primary_key_values = pd.Series([x for i, x in zip(range(num_rows), generator)])
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\base.py:127: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  primary_key_values = pd.Series([x for i, x in zip(range(num_rows), generator)])
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\base.py:127: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  primary_key_values = pd.Series([x for i, x in zip(range(num_rows), generator)])
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\base.py:127: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  primary_key_values = pd.Series([x for i, x in zip(range(num_rows), generator)])
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\base.py:127: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  primary_key_values = pd.Series([x for i, x in zip(range(num_rows), generator)])
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\hma.py:318: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  table_rows[name] = table_rows[name].dropna().astype(dtype)

This will return a dictionary of tables identical to the one which the
model was fitted on, but filled with new data which resembles the
original one.

In [8]:
display_tables(new_data)

In [9]:
for name, table in new_data.items():
    print(name, table.shape)

users (30, 4)
sessions (52, 5)
transactions (288, 5)

### Save and Load the model

In many scenarios it will be convenient to generate synthetic versions
of your data directly in systems that do not have access to the original
data source. For example, if you may want to generate testing data on
the fly inside a testing environment that does not have access to your
production database. In these scenarios, fitting the model with real
data every time that you need to generate new data is feasible, so you
will need to fit a model in your production environment, save the fitted
model into a file, send this file to the testing environment and then
load it there to be able to `sample` from it.

Let's see how this process works.

#### Save and share the model

Once you have fitted the model, all you need to do is call its `save`
method passing the name of the file in which you want to save the model.
Note that the extension of the filename is not relevant, but we will be
using the `.pkl` extension to highlight that the serialization protocol
used is [cloudpickle](https://github.com/cloudpipe/cloudpickle).

In [10]:
model.save('my_model.pkl')

This will have created a file called `my_model.pkl` in the same
directory in which you are running SDV.

<div class="alert alert-info">

**Important**

If you inspect the generated file you will notice that its size is much
smaller than the size of the data that you used to generate it. This is
because the serialized model contains **no information about the
original data**, other than the parameters it needs to generate
synthetic versions of it. This means that you can safely share this
`my_model.pkl` file without the risk of disclosing any of your real
data!

</div>

#### Load the model and generate new data

The file you just generated can be sent over to the system where the
synthetic data will be generated. Once it is there, you can load it
using the `HMA1.load` method, and then you are ready to sample new data
from the loaded instance:

In [11]:
loaded = HMA1.load('my_model.pkl')
new_data = loaded.sample()
new_data.keys()

C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\base.py:127: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  primary_key_values = pd.Series([x for i, x in zip(range(num_rows), generator)])
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\base.py:127: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  primary_key_values = pd.Series([x for i, x in zip(range(num_rows), generator)])
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\base.py:127: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  primary_key_values = pd.Series([x for i, x in zip(range(num_rows), generator)])
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\base.py:127: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  primary_key_values = pd.Series([x for i, x in zip(range(num_rows), generator)])
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\base.py:127: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  primary_key_values = pd.Series([x for i, x in zip(range(num_rows), generator)])
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\base.py:127: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  primary_key_values = pd.Series([x for i, x in zip(range(num_rows), generator)])
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\base.py:127: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  primary_key_values = pd.Series([x for i, x in zip(range(num_rows), generator)])
C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\hma.py:318: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  table_rows[name] = table_rows[name].dropna().astype(dtype)

dict_keys(['users', 'sessions', 'transactions'])

<div class="alert alert-warning">

**Warning**

Notice that the system where the model is loaded needs to also have
`sdv` installed, otherwise it will not be able to load the model and use
it.

</div>

### How to control the number of rows?

In the steps above we did not tell the model at any moment how many rows
we wanted to sample, so it produced as many rows as there were in the
original dataset.

If you want to produce a different number of rows you can pass it as the
`num_rows` argument and it will produce the indicated number of rows:

In [12]:
model.sample(num_rows=5)

C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\hma.py:318: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  table_rows[name] = table_rows[name].dropna().astype(dtype)

{'users':    user_id country gender  age
 0       30      NL      F   26
 1       31      EE      F   30
 2       32      SC      F   39
 3       33      SC      F   32
 4       34      EE      F   30,
 'sessions':     session_id  user_id  device       os  minutes
 0           52       30  tablet  android       52
 1           53       30  tablet  android       17
 2           54       30  tablet  android       22
 3           55       31  mobile    linux       36
 4           56       31  mobile    linux       22
 5           57       31  mobile    linux       42
 6           58       31  mobile    linux       33
 7           59       32  tablet  android       46
 8           60       32  tablet  android       35
 9           61       32  tablet  android       33
 10          62       33  tablet  android       36
 11          63       33  tablet  android       51
 12          64       33  tablet  android       42
 13          65       34  mobile    linux       22,
 'transactions':     transaction_id  session_id           timestamp  amount  cancelled
 0              288          52 2019-04-17 05:28:43   55.72      False
 1              289          52 2019-04-17 05:48:55   16.31      False
 2              290          52 2019-04-17 05:24:07   34.23      False
 3              291          52 2019-04-17 05:25:53   34.75      False
 4              292          52 2019-04-17 06:17:30   32.29      False
 ..             ...         ...                 ...     ...        ...
 72             360          64 2019-06-04 15:16:29  109.18      False
 73             361          64 2019-06-04 15:13:13   96.27      False
 74             362          64 2019-06-04 15:17:41  109.67      False
 75             363          64 2019-06-04 15:24:34  117.48      False
 76             364          65 2019-04-11 19:30:28   90.14      False

 [77 rows x 5 columns]}

<div class="alert alert-info">

**Note**

Notice that the root table `users` has the indicated number of rows but
some of the other tables do not. This is because the number of rows from
the child tables is sampled based on the values form the parent table,
which means that only the root table of the dataset is affected by the
passed `num_rows` argument.

</div>

### Can I sample a subset of the tables?

In some occasions you will not be interested in generating rows for the
entire dataset and would rather generate data for only one table and its
children.

To do this you can simply pass the name of the table that you want to
sample.

For example, pass the name `sessions` to the `sample` method, the model
will only generate data for the `sessions` table and its child table,
`transactions`.

In [13]:
model.sample('sessions', num_rows=5)

C:\Users\Elvin\Desktop\GitHub\SDV\sdv\relational\hma.py:318: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  table_rows[name] = table_rows[name].dropna().astype(dtype)

{'sessions':    session_id  user_id  device       os  minutes
 0          66       37      pc  android       48
 1          67       36  tablet      ios       40
 2          68       37      pc  android       53
 3          69       35      pc    macos       48
 4          70       37      pc  android       42,
 'transactions':     transaction_id  session_id           timestamp  amount  cancelled
 0              365          66 2019-09-18 02:59:27  111.98      False
 1              366          66 2019-09-18 02:25:56  122.02      False
 2              367          66 2019-09-18 03:26:49  102.42      False
 3              368          66 2019-09-18 02:34:15  133.07      False
 4              369          66 2019-09-18 02:19:06   77.40      False
 5              370          66 2019-09-18 02:16:47  139.70      False
 6              371          66 2019-09-18 02:20:57  137.77      False
 7              372          67 2019-09-19 05:43:26   88.54      False
 8              373          67 2019-09-19 05:37:03  139.84      False
 9              374          67 2019-09-19 05:32:53  114.02      False
 10             375          68 2019-12-06 15:40:28   30.13      False
 11             376          68 2019-12-06 15:38:59   46.38      False
 12             377          68 2019-12-06 15:21:21   58.69      False
 13             378          68 2019-12-06 15:42:39   15.81      False
 14             379          68 2019-12-06 15:39:13    9.07      False
 15             380          68 2019-12-06 15:24:31   28.97      False
 16             381          68 2019-12-06 15:29:17   27.49      False
 17             382          68 2019-12-06 15:27:05   33.23      False
 18             383          69 2019-04-05 03:57:36  107.15      False
 19             384          69 2019-04-05 03:52:29  141.20      False
 20             385          69 2019-04-05 03:39:21  107.96      False
 21             386          69 2019-04-05 03:56:05   53.49      False
 22             387          69 2019-04-05 03:49:09   77.24      False
 23             388          69 2019-04-05 03:45:04   16.57      False
 24             389          70 2019-10-12 02:00:08   77.17      False
 25             390          70 2019-10-12 01:56:17   81.77      False
 26             391          70 2019-10-12 01:56:19   81.73      False}

If you want to further restrict the sampling process to only one table
and also skip its child tables, you can add the argument
`sample_children=False`.

For example, you can sample data from the table `users` only without
producing any rows for the tables `sessions` and `transactions`.

In [14]:
model.sample('users', num_rows=5, sample_children=False)

   user_id country gender  age
0       38      SC      F   22
1       39      CM      M   38
2       40      CM      F   38
3       41      NL      F   34
4       42      NL      F   28

<div class="alert alert-info">

**Note**

In this case, since we are only producing a single table, the output is
given directly as a `pandas.DataFrame` instead of a dictionary.

</div>